.name{
  border: var(--border-in-light);
  padding: 10px;
  border-radius: 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  width: 163px;
  background-color: var(--white);
  color: var(--black);
  text-align: left;
}

.password{
  border: var(--border-in-light);
  padding: 10px;
  border-radius: 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  max-width: 60% !important;
  width: 183px;
  background-color: var(--white);
  color: var(--black);
  text-align: left;
}

.code{
  border: var(--border-in-light);
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  background-color: var(--white);
  color: var(--black);
  text-align: left;
  width: 60px;
}

.codebox{
  vertical-align: bottom;
}

.user {
  padding: 20px;
  overflow: auto;
}

.font{
  font-size: 15px;
  padding-right: 5px;
  text-align: center;
  .wallet{
    color: #2279ca;
  };
  .vipTime{
    font-size: 8px;
    padding-top: 5px;
  };
  .vipState{
    color: #dc423c;
  }
}

.sigState{
  color: #2279ca;
  padding-right: 10px;
}

.sigButton{
  border: var(--border-in-light);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  &:hover{
    border-color: #2279ca;
  }
}

.register{
  text-align: center;
  div{
    padding: 10px;
  }
}

.wangji{
  padding-right: 50px;
  font-size: 12px;
}

.zhuce{
  padding-left: 50px;
  font-size: 12px;
}

.registerButton{
  background-color: #1db144;
  color: white;
  padding: 0;
  width: 183px;
  display: block;
  margin: 0 auto;
}

.codeButton{
  background-color: #1db144;
  color: white;
  padding: 0;
  width: 93px;
  display: inline;
  margin: 0 auto;
  font-size: 8px;
}

.title{
  font-size: 4px;
  color: red;
}
